[package]
name = "juliaup"
version = "1.11.12"
description = "Julia installer and version multiplexer"
repository = "https://github.com/julialang/juliaup"
license = "MIT"
keywords = ["julia"]
categories = ["command-line-utilities"]
edition = "2021"
default-run = "juliaup"
authors = ["David Anthoff <anthoff@berkeley.edu>"]
exclude = [
    ".github/**",
    ".vscode/**",
    ".wix/**",
    "deploy/**",
    "devdocs/**",
    "scripts/**",
    "download_bundled_julia.ps1",
]

[profile.release]
lto = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0.15", features = ["derive"] }
dirs = "5.0.1"
dunce = "1"
serde = {version = "1", features = ["derive"] }
serde_json = "1"
semver = "1"
anyhow = "1"
tempfile = "3"
flate2 = "1"
tar = "0.4"
normpath = "1.0.0"
fs_extra = "1.2"
thiserror = "1"
indicatif = "0.17.0"
console = "0.15"
ctrlc = "3.2.1"
url = "2"
cli-table = "0.4"
itertools = "0.11.0"
cluFlock = "1.2.5"
chrono = {version = "0.4", features = ["serde"]}
human-panic = "1.0.3"
log = "0.4.14"
env_logger = "0.10.0"
dialoguer = "0.10.0"
shellexpand = "3.0.0"
env_proxy = "0.4.1"
bstr = "1.0.1"
indoc = "2.0.1"
is-terminal = "0.4.7"
path-absolutize = "3"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.48.0", features = ["Win32_Foundation", "Win32_UI_Shell", "Win32_System_Console", "Services_Store", "Foundation", "Foundation_Collections", "Web_Http", "Storage_Streams",] }

[target.'cfg(target_os = "macos")'.dependencies]
reqwest = { version = "0.11", default-features = false, features = ["blocking", "native-tls", "socks"] }

[target.'cfg(all(not(target_os = "macos"),not(windows)))'.dependencies]
reqwest = { version = "0.11", default-features = false, features = ["blocking", "rustls-tls-native-roots", "socks"] }

[target.'cfg(not(windows))'.dependencies]
nix = { version = "0.26" }

[build-dependencies]
anyhow = "1"
itertools = "0.11.0"
serde = {version = "1", features = ["derive"] }
serde_json = "1"
semver = "1"
built = "0.6.0"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[dev-dependencies]
assert_cmd = "2"
assert_fs = "1"
indoc = "2.0.1"
predicates = "3.0.3"

[features]
selfupdate = []
windowsstore = []
windowsappinstaller = []
dummy = []
binjuliainstaller = []
binjulialauncher = []

[package.metadata.msix]
winstoremsix = { file = "deploy/msix/PackagingLayout.xml", variables = [{name = "FlatBundle", value="false"}, {name = "IdentityPublisher", value = "CN=7FB784C5-4411-4067-914E-A7B06CC00FFC"}] }
winappinstallermsix = { file = "deploy/msix/PackagingLayout.xml", variables = [{name = "FlatBundle", value="true"}, {name = "IdentityPublisher", value = "CN=&quot;JULIA COMPUTING, INC.&quot;, O=&quot;JULIA COMPUTING, INC.&quot;, S=Massachusetts, C=US"}] }

[package.metadata.winappinstaller]
winappinstaller = "deploy/winappinstaller/Julia.appinstaller"

[package.metadata.winres]

[[bin]]
name = "julia"
path = "src/bin/julialauncher.rs"

[[bin]]
name = "julialauncher"
path = "src/bin/julialauncher.rs"
required-features = ["binjulialauncher"]

[[bin]]
name = "juliaup"
path = "src/bin/juliaup.rs"

[[bin]]
name = "juliainstaller"
path = "src/bin/juliainstaller.rs"
required-features = ["binjuliainstaller"]
