[package]
name = "juliaup"
version = "1.2.23-alpha.0"
edition = "2018"
default-run = "juliaup"
publish = false

[profile.release]
lto = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.2"
dirs = "3.0"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0"
semver = "1.0"
anyhow = "1.0"
tempfile = "3.0"
flate2 = "1.0"
tar = "0.4"
ureq = "2"
normpath = "0.3"
fs_extra = "1.2"
windows = "0.18.0"
thiserror = "1.0"
indicatif = "0.16"
atty = "0.2.14"
console = "0.14"
ctrlc = "3.2.1"

[build-dependencies]
anyhow = "1.0"
winres = "0.1"
itertools = "0.10"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0"
semver = "1.0"
windows = "0.18.0"
