<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <?define ProductVersion = "1.0.0"?>
    <Package Name="Julia" Manufacturer="JuliaHub, Inc." UpgradeCode="1894d99f-8e5d-44e3-acf8-9900013d4b3f" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" InstallerVersion="500" ProductCode="33b218ff-20bd-47ed-b4a7-330a8c6c59b4" Scope="perUserOrMachine">
        <SummaryInformation Keywords="Installer" Description="Julia Installer" Manufacturer="JuliaHub, Inc." />

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

        <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />
        <WixVariable Id="WixUIExclamationIco" Value="Bitmaps\exclamic.ico" />
        <WixVariable Id="WixUIInfoIco" Value="Bitmaps\info.ico" />
        <WixVariable Id="WixUINewIco" Value="Bitmaps\New.ico" />
        <WixVariable Id="WixUIUpIco" Value="Bitmaps\Up.ico" />

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

        <Media Id="1" Cabinet="Julia.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
        <Property Id="DiskPrompt" Value="Julia Installation [1]" />

        <MajorUpgrade AllowDowngrades="yes"/>

        <Feature Id="Complete" Level="1">
            <ComponentRef Id="JulialauncherExecutable" />
            <ComponentRef Id="JuliaupExecutableSystem" />
            <ComponentRef Id="JuliaupExecutableUser" />
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>

        <Icon Id="Julia.exe" SourceFile="julialauncher.exe" />

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="Julia">

                <Component Id="JulialauncherExecutable" Guid="6b1218f5-39c5-4a48-aa4c-6eb5eeffbe09">

                    <File Id="JulialauncherEXE" Name="julia.exe" DiskId="1" Source="julialauncher.exe" KeyPath="yes">

                        <Shortcut Id="startmenuJulia" Directory="ProgramMenuDir" Name="Julia" WorkingDirectory="INSTALLFOLDER" Icon="Julia.exe" IconIndex="0" Advertise="yes" />
                    </File>

                    
                </Component>

                <Component Id="JuliaupExecutableSystem" Guid="2a881338-e0f2-4df7-8c02-71373891961c" Condition="NOT (ALLUSERS=2 OR MSIINSTALLPERUSER=1)">

                    <File Id="JuliaupEXESystem" Name="juliaup.exe" DiskId="1" Source="juliaup.exe" KeyPath="yes">
                    </File>

                    <Environment Id='UpdatePathSystem' Name='PATH' Action='set' Permanent='no' System='yes' Part='last' Value='[INSTALLFOLDER]' />
                </Component>

                <Component Id="JuliaupExecutableUser" Guid="587bc90d-fcc9-4163-8e90-342a0f4178cb" Condition="ALLUSERS=2 OR MSIINSTALLPERUSER=1">

                    <File Id="JuliaupEXEUser" Name="juliaup.exe" DiskId="1" Source="juliaup.exe" KeyPath="yes">
                    </File>

                    <Environment Id='UpdatePathUser' Name='PATH' Action='set' Permanent='no' System='no' Part='last' Value='[INSTALLFOLDER]' />
                </Component>

            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="Julia">
                <Component Id="ProgramMenuDir" Guid="faef9466-5aec-4bd2-a10b-64bf8c078348">
                    <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
                </Component>
            </Directory>
        </StandardDirectory>
    </Package>
</Wix>
