name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  check-juliaup:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: ${{ github.ref != 'refs/heads/main' }}
      matrix:
        label: [
          x86_64-pc-windows-msvc-windowsstore,
          x86_64-pc-windows-msvc-windowsappinstaller,
          x86_64-pc-windows-gnu-msi,
          x86_64-pc-windows-gnu-msi,
          x86_64-apple-darwin,
          x86_64-unknown-linux-gnu,
          x86_64-unknown-linux-musl,
          x86_64-unknown-freebsd,
          i686-pc-windows-msvc-windowsstore,
          i686-pc-windows-msvc-windowsappinstaller,
          i686-pc-windows-gnu-msi,
          i686-unknown-linux-gnu,
          i686-unknown-linux-musl,
          aarch64-unknown-linux-gnu,
          aarch64-unknown-linux-musl,
          aarch64-apple-darwin
          ]
        include:
          - label: x86_64-pc-windows-msvc-windowsstore
            target: x86_64-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: windowsstore,binjuliainstaller,binjulialauncher
            rustflags:
          - label: x86_64-pc-windows-msvc-windowsappinstaller
            target: x86_64-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: windowsappinstaller,binjuliainstaller,binjulialauncher
            rustflags:
          - label: x86_64-pc-windows-gnu-msi
            target: x86_64-pc-windows-gnu
            os: windows
            runner: windows-latest
            features: windowsappinstaller,binjuliainstaller,binjulialauncher
            rustflags:
          - label: i686-pc-windows-gnu-msi
            target: i686-pc-windows-gnu
            os: windows
            runner: windows-latest
            features: windowsappinstaller,binjuliainstaller,binjulialauncher
            rustflags:
          - label: x86_64-apple-darwin
            target: x86_64-apple-darwin
            os: macos
            runner: macos-15-intel
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
          - label: x86_64-unknown-linux-gnu
            target: x86_64-unknown-linux-gnu
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
          - label: x86_64-unknown-linux-musl
            target: x86_64-unknown-linux-musl
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags: -C target-feature=+crt-static
          - label: x86_64-unknown-freebsd
            target: x86_64-unknown-freebsd
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
          - label: i686-pc-windows-msvc-windowsstore
            target: i686-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: windowsstore,binjuliainstaller,binjulialauncher
            rustflags:
          - label: i686-pc-windows-msvc-windowsappinstaller
            target: i686-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: windowsappinstaller,binjuliainstaller,binjulialauncher
            rustflags:
          - label: i686-unknown-linux-gnu
            target: i686-unknown-linux-gnu
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
          - label: i686-unknown-linux-musl
            target: i686-unknown-linux-musl
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags: -C target-feature=+crt-static
          - label: aarch64-unknown-linux-gnu
            target: aarch64-unknown-linux-gnu
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
          - label: aarch64-unknown-linux-musl
            target: aarch64-unknown-linux-musl
            os: ubuntu
            runner: ubuntu-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags: -C target-feature=+crt-static
          - label: aarch64-apple-darwin
            target: aarch64-apple-darwin
            os: macos
            runner: macos-latest
            features: selfupdate,binjuliainstaller,binjulialauncher
            rustflags:
    steps:
    - uses: actions/checkout@v6
    - if: ${{ contains(matrix.target, '-musl') }}
      run: sudo apt-get install musl-tools
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable
        target: ${{matrix.target}}
    - if: ${{ matrix.os == 'ubuntu' }}
      uses: taiki-e/install-action@v2
      with:
        tool: cross
    - name: Check build
      uses: clechasseur/rs-cargo@v4
      with:
        command: check
        tool: ${{ matrix.os == 'ubuntu' && 'cross' || 'cargo' }}
        args: --release --bins --target ${{matrix.target}} --features ${{matrix.features}}
      env:
        CARGO_TARGET_x86_64-unknown-linux-musl: ${{matrix.rustflags}}
        CARGO_TARGET_i686-unknown-linux-musl: ${{matrix.rustflags}}
        CARGO_TARGET_aarch64-unknown-linux-musl: ${{matrix.rustflags}}

  test-juliaup:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: ${{ github.ref != 'refs/heads/main' }}
      matrix:
        target: [
          x86_64-pc-windows-msvc,
          x86_64-pc-windows-gnu,
          x86_64-apple-darwin,
          x86_64-unknown-linux-gnu,
          x86_64-unknown-linux-musl,
          x86_64-unknown-freebsd,
          i686-pc-windows-msvc,
          i686-pc-windows-gnu,
          aarch64-apple-darwin,
          ]
        include:
          - target: x86_64-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
          - target: x86_64-pc-windows-gnu
            os: windows
            runner: windows-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable-gnu
          - target: x86_64-apple-darwin
            os: macos
            runner: macos-15-intel
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
          - target: x86_64-unknown-linux-gnu
            os: ubuntu
            runner: ubuntu-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
          - target: x86_64-unknown-linux-musl
            os: ubuntu
            runner: ubuntu-latest
            features: dummy,binjulialauncher
            rustflags: -C target-feature=+crt-static
            toolchain: stable
          - target: x86_64-unknown-freebsd
            os: ubuntu
            runner: ubuntu-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
          - target: i686-pc-windows-msvc
            os: windows
            runner: windows-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
          - target: i686-pc-windows-gnu
            os: windows
            runner: windows-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable-i686-gnu
          - target: aarch64-apple-darwin
            os: macos
            runner: macos-latest
            features: dummy,binjulialauncher
            rustflags:
            toolchain: stable
    steps:
    - uses: actions/checkout@v6
    - if: ${{ contains(matrix.target, '-musl') }}
      run: sudo apt-get install musl-tools
    - uses: egor-tensin/setup-mingw@v3
      if: ${{ contains(matrix.toolchain, 'stable-i686-gnu') }}
      with:
        platform: x86
        version: 12.2.0
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      if: ${{ ! contains(matrix.target, 'freebsd') }}
      with:
        toolchain: ${{matrix.toolchain}}
        target: ${{matrix.target}}
    - name: Test
      if: ${{ ! contains(matrix.target, 'freebsd') }}
      run: cargo test --target ${{matrix.target}} --features ${{matrix.features}}
      env:
        CARGO_TARGET_x86_64-unknown-linux-musl: ${{matrix.rustflags}}
        CARGO_TARGET_i686-unknown-linux-musl: ${{matrix.rustflags}}
        CARGO_TARGET_aarch64-unknown-linux-musl: ${{matrix.rustflags}}
    - name: Free Disk Space
      if: ${{ contains(matrix.target, 'freebsd') }}
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        # Removing "large packages" alone takes a couple of minutes, it could
        # be switched to true if more space is needed (it'd save ~5 GB or so)
        large-packages: false
    - name: Test FreeBSD
      if: ${{ contains(matrix.target, 'freebsd') }}
      uses: cross-platform-actions/action@v0.32.0
      with:
        operating_system: freebsd
        version: '13.4'
        architecture: x86-64
        cpu_count: 4
        memory: '12G'
        sync_files: runner-to-vm
        shell: sh
        run: |
          df -h
          RUST_VERSION=$(grep '^channel = ' rust-toolchain.toml | sed 's/channel = "\(.*\)"/\1/')
          fetch https://sh.rustup.rs -o - | sh -s -- -y --default-toolchain "$RUST_VERSION" --profile minimal
          . "${HOME}/.cargo/env"
          export RUST_BACKTRACE=full
          # Clean up to maximize available disk space
          rm -rf target
          rm -rf ~/.cargo/registry/cache
          rm -rf ~/.cargo/git/db
          df -h
          cargo test --target ${{matrix.target}} --features ${{matrix.features}}
